$pfont: 20px;

* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed ;
}

.container {
  width: 95%;
  margin: 0 auto;
  overflow: auto;
}

h1 {
  color: #4D8FAF;
  text-align: center;
  font-family: 'Mansalva', cursive;
  font-size: 50px;
  margin: 20px;
  width: 100%;
}

.card {
  width: 350px;
  float: left;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: RGBA(45, 50, 53,0.8);
  list-style-type: none;
}

.title {
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
  color: #777777;
  font-family: 'Lobster', cursive;
}

img {
  height: 100px;
  width: 30%;
  margin: 0 35%;
}

.stars {
  font-size: $pfont;
  font-family: 'Signika', sans-serif;
  padding: 20px 10px 0 10px;
  margin: 0 0 0 10px;
  color: #FFFFFF;
}

.description {
  font-size: $pfont;
  font-family: 'Signika', sans-serif;
  padding: 10px;
  margin: 10px;
  height: 100px;
  color: #FFFFFF;

}

button {
  width: 70%;
  float: left;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  margin:10% 15%;
  border: 2px solid #4EAFD9;
  background-image:url('../img/background.jpg');
  background-position: center left;
  color: #4EAFD9;

  &:hover {
    border: 2px solid #ffffff;
  }
}

i {
  font-size: 30px;
}

a {
  color: blueviolet;
  text-decoration: none;
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {

  body{
    background-image: url("../img/backgrounMobile.jpg");
    background-position: center bottom;
  }
}